---
import "../../src/styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>get out of here</title>
	</head>
	<body class="flex flex-col justify-center items-center py-8">
        <p class="text-3xl">are you in the right place?</p>
		<img src="/src/assets/404.png" class="w-1/3">
	</body>
</html>