---
import "../../src/styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>get out of here</title>
	</head>
	<body class="flex flex-col justify-center items-center py-8">
        <p class="text-3xl">are you in the right place?</p>
		<img src="https://raw.githubusercontent.com/23baez/eve-1/refs/heads/master/src/assets/four.png" class="w-1/3">
		<p class="text-blue-800 font-light text-sm"><a href="https://b-aez.com/">back to site</a></p>
	</body>
</html>