---
import "../../src/styles/global.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>blog</title>
	</head>
	<body class="flex flex-col justify-center items-center py-8">
			<main class="container max-w-3xl px-4 py-8 md:py-16 flex flex-col">
				<div class="flex flex-col gap-8">
					<section class="flex flex-col">
						<p class="text-blue-800 font-light text-sm"><a href="https://b-aez.com/">back to site</a></p>
						<div class="flex justify-between items-center gap-4">
							<h1 class="text-4xl">a place for my incomplete ideas</h1>
                        </div>
                        <p>nothing to be found here right now</p>
				<footer class="py-8 text-center text-blue-500">
					<p>this blog is a work in progress</p>
				contact me at contact[at][domain][dot]com</footer>
			</main>
	</body>
</html>